:host {
  --main-height: 150px;

  .mat-card {
    margin: 2px;
    cursor: pointer;
    width: 95%;
    height: 150px;
    padding: 1rem;
  }
  .mat-card-image {
    margin-left: 0.2rem;
    margin-right: 1rem;
  }
  .name {
    font-size: 1.2rem;
    font-family: CabinPde;
    color: #7a98a7;
  }
  .cost {
    font-size: 1.2rem;
    font-family: CabinPdf;
    color: #a9a9a9;
  }
  .mat-card-actions {
    align-self: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 0;
  }
  .mat-card-actions button {
    width: 100%;
    margin: 0.5rem 0;
  }
  /* .push {
    margin-right: 0;
  } */

  .mat-card-content > :last-child:not(.mat-card-footer),
  .mat-card > :last-child:not(.mat-card-footer) {
    margin-bottom: 12px;
    margin-right: -3px;
  }

  img {
    width: 100%;
    height: auto;
  }
  .mobile {
    font-size: 1rem;
    background-color: #424242;
  }
  .img-desktop {
    height: 100%;
    width: auto;
    max-width: calc(var(--main-height) * 1.77);
    max-width: 224px;
  }
  .img-mobile {
    height: 100%;
    max-height: 100px;
    max-width: calc(var(--main-height) * 1.77);
    width: auto;
/*     max-width: calc(var(--main-height) * 1.77); */
  }
}
