<mat-toolbar>
    <button mat-raised-button appTextEditorToolbar *ngFor="let item of itemsStyle" name="{{item.BUTTON_NAME}}"
        title="{{item.TITLE}}" status='format'>
        <mat-icon>{{item.BUTTON_NAME}}</mat-icon>
    </button>

    <button mat-raised-button appTextEditorToolbar *ngFor="let item of itemsAlign" name="{{item.BUTTON_NAME}}"
        title="{{item.TITLE}}" status='align'>
        <mat-icon>{{item.BUTTON_NAME}}</mat-icon>
    </button>

    <mat-form-field id="fonts">
        <mat-select id="select-font" [(ngModel)]="selectedFont" name="fonts">
            <mat-option *ngFor="let item of baseFonts" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="selectedFontSize" name="fontSize">
            <mat-option [value]="item" *ngFor="let item of [1,2,3,4,5,6]">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="selected" type="number" min="1" id="end">
    </mat-form-field>

</mat-toolbar>

<input type="color" value="" #navColor style="display: none">