:host {
  button {
    margin: 0.21rem 0.21rem;
    background-color: chocolate;
  }

  #synonyms {
    min-height: 2rem;
    border: 0px solid;
    margin: 1rem 0;
    /* display: contents; */
  }
}
