<div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="height: 100%;">
    <mat-list fxLayout="row wrap" fxLayoutAlign="space-between" *ngIf='items' fxFlex.xs="grow shrink initial">
        <mat-card mat-list-item fxLayout="row" fxLayoutGap="1rem" *ngFor="let item of items">
            <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.8rem" fxLayoutGap.xs="0.48rem">
                <mat-card-header fxFlex.xs="0 0 100px">
                    <img class="img-desktop" [ngClass.xs]="'img-mobile'" mat-card-image *ngIf='item.media'
                        src="{{item.media.imageMedium.url}}" />
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayout.xs="row"  fxFlex.xs="1 1 20px">
                    <p class="name" [ngClass.xs]="'mobile'">{{item.name}}</p>
                    <p class="cost" [ngClass.xs]="'mobile'">{{item.cost}}</p>
                </mat-card-content>
            </div>
            <mat-card-actions class="push" fxLayout="column">
                <button mat-raised-button type="button">View item</button>
                <button mat-raised-button type="submit">Order now</button>
            </mat-card-actions>
        </mat-card>
    </mat-list>
    <app-sidebar></app-sidebar>
</div>