
<div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="height: 100%;">
    <mat-list fxLayout="row wrap" fxLayoutAlign="space-between" *ngIf='items' fxFlex.xs="grow shrink initial">
        <mat-card mat-list-item fxLayout="row" fxLayoutGap="1rem" *ngFor="let item of items">
            <!-- <ng-container *ngIf="fxLayout.xs === true">

            </ng-container> -->
            <!-- <div fxFlex fxHide fxShow.sm>ffh</div>
            <div fxFlex fxShow.sm fxHide.xs>fgfg fgfg</div>
            <div fxShow.sm="true" fxShow.xs="false" fxShow="true">3</div>
            <div fxHide fxShow.xs>4</div> -->

            <!-- <ng-container [ngTemplateOutlet]="link.type == 'complex' ?complexLink : simpleLink"
                [ngTemplateOutletContext]="{link:link}">
            </ng-container> -->
            <!-- <div fxFlex fxLayout="row" fxLayoutGap="1rem" fxLayoutGap.xs="7rem" fxLayout.xs="column">
                <mat-card-header fxLayout="column" fxFlex="0 0 40%" fxFlex.xs="0 0 7%">
                    <img mat-card-image *ngIf='item.media' src="{{item.media.imageMedium.url}}" />
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayout.xs="row" fxLayoutAlign="">
                    <p class="name">{{item.name}}</p>
                    <p class="cost">{{item.cost}}</p>
                </mat-card-content>
            </div>
            <mat-card-actions class="push" fxLayout="column">
                <button mat-raised-button type="button">View item</button>
                <button mat-raised-button type="submit">Order now</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-list>
    <app-sidebar></app-sidebar>
</div>

<ng-template #xs fxLayout.xs="row" let-link='item'>
    <mat-card-header fxLayout="column" fxFlex="0 0 40%" fxFlex.xs="0 0 7%">
        <img mat-card-image *ngIf='item.media' src="{{item.media.imageMedium.url}}" />
    </mat-card-header>
    <mat-card-actions class="push" fxLayout="column">
        <button mat-raised-button type="button">View item</button>
        <button mat-raised-button type="submit">Order now</button>
    </mat-card-actions>
    <mat-card-content fxLayout="column" fxLayout.xs="row" fxLayoutAlign="">
        <p class="name">{{item.name}}</p>
        <p class="cost">{{item.cost}}</p>
    </mat-card-content>
</ng-template>