:host {
  .mat-form-field {
    width: 100%;
  }

  div {
    border: 0px solid;
    overflow: hidden;
  }

  button {
    margin: 0.521rem 0.21rem;
    background-color: chocolate;
  }
  
  textarea {
    height: 300px;
  }
}
